# === Entorno virtual ===
venv/
env/

# === Archivos de Python compilados ===
__pycache__/
*.py[cod]
*$py.class

# === Migraciones ===
*/migrations/
!*/migrations/__init__.py

# === Base de datos local ===
db.sqlite3

# === Configuraciones locales ===
*.env
.env

# === IDEs y sistema ===
.vscode/
.idea/
.DS_Store
Thumbs.db
